<app-nav-var></app-nav-var>
<div class="content">
    <h4>Ediciones Matanzas</h4>
    <div class="left">
        <div class="tilte">
            <h2>Sobre nosotros</h2>
        </div>
        <div class="about-text">
            Ediciones Matanzas es una editorial fundada en 1978 en Matanzas, Cuba. Fue creada por Arturo Arango, Luis Lorente y Lina García Oña en una pequeña imprenta de la Dirección Provincial de Cultura.
            <br>
            <br>
            Desde 2000, con la creación del Sistema de Ediciones Territoriales, su trabajo editorial se consolidó, aumentando publicaciones. Desde 2006, Alfredo Zaldívar, Premio Nacional de Edición, dirige el equipo actual.
            <br>
            <br>
            La editorial ha publicado más de 800 títulos, incrementando su producción a 30 anuales en los últimos años, con tiradas de 500-1000 ejemplares. Publica autores locales, nacionales, de la diáspora y extranjeros, destacando su catálogo de traducciones.
            <br>
            <br>
            Cubre todos los géneros literarios a través de varias colecciones. Ha recibido importantes premios nacionales de literatura, edición y diseño.
        </div>
    </div>
    <div class="right">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../../../assets/img/Imagens/Equipo Editorial de Ediciones Matanzas (1).jpeg" class="d-block w-100" alt="..."data-bs-interval="1">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/img/Imagens/Equipo Editorial de Ediciones Matanzas (10).jpeg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/img/Imagens/Equipo Editorial de Ediciones Matanzas (12).jpeg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/img/Imagens/Equipo Editorial de Ediciones Matanzas (13).jpeg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/img/Imagens/Equipo Editorial de Ediciones Matanzas (7).jpeg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/img/Imagens/Equipo Editorial de Ediciones Matanzas (2).jpeg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/img/Imagens/Equipo Editorial de Ediciones Matanzas (3).jpeg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/img/Imagens/Equipo Editorial de Ediciones Matanzas (4).jpeg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/img/Imagens/Equipo Editorial de Ediciones Matanzas (5).jpeg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/img/Imagens/Equipo Editorial de Ediciones Matanzas (6).jpeg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/img/Imagens/Equipo Editorial de Ediciones Matanzas (8).jpeg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/img/Imagens/Equipo Editorial de Ediciones Matanzas (9).jpeg" class="d-block w-100" alt="...">
              </div>
             
            </div>
            <button class="carousel-control-next float-end" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>

</div>
