
<app-nav-var></app-nav-var>
<div class="cartel-body">
   <div class="leterero">
      <h1>Ediciones Matanzas</h1>
   </div>
</div>
<div class="libros-list" *ngIf="books.length > 0">
      <div class="card" *ngFor="let book of filteredOptions" (click)="onBookClick(book.slug)">
         <img [src]="book.image_url" alt="">
         <div class="card-body">
            <Label class="card-tittle"> {{book.price}}$</Label>
            <div class="hr"></div>
            <button type="button" class="btn btn-primary">Sobre...</button>
        </div>
    </div>
   
</div>
<div class="oferta-especial">
   <div id="carouselExampleIndicators" class="carousel carousel-dark slide">
   
      <div class="carousel-inner card" id="border-corusel">
        <div class="carousel-item" *ngFor="let noticia of noticias; let i = index" [class.active]="i === 0">
            <div class="ofertaespecial-1">
               <div>
                  <h2 class="tilte" style="font-family: Georgia, 'Times New Roman', Times, serif;">
                     {{noticia.titulo}}
                  </h2>
                  <label class="art-body">
                    {{noticia.texto}}
                  </label>
                  
               </div>
               <div class="oferta-especial-right">
                  <div >
                     <img [src]="noticia.imagen" class="ofertaespecialimg">
                  </div>
               </div>
              
            </div>
        </div>
       
      </div>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next" id="butonnext">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</div>
<div class="footer-card">
   <div class="social-icons">
     <a href="https://www.facebook.com/edicionesmatanzas/" class="social-icon facebook-icon">
      <img src="/assets/iconos/sociales/facebook-svgrepo-com.svg" width="40px">
     </a>
     <a href="https://x.com/edicionesmtz" class="social-icon twiter-icon">
       <img src="/assets/iconos/sociales/twitter-round-svgrepo-com.svg" width="34px">
     </a>
     <a href=" https://www.instagram.com/edicionesmatanzas/" class="social-icon instagram-icon">
       <img src="/assets/iconos/sociales/instagram-round-svgrepo-com%20(1).svg" width="34px">
     </a>
     <a href="https://t.me/edicionesmatanzas" class="social-icon telegram-icon">
      <img src="/assets/iconos/sociales/telegram-svgrepo-com.svg" width="34px">
    </a>
    <a href="edicionesmatanzas@atenas.cult.cu" class="social-icon whatsapp-icon">
      <img src="/assets/iconos/sociales/whatsapp-whats-app-svgrepo-com.svg" width="34px">
    </a>
   </div>
 </div>


 

 
