<app-nav-var></app-nav-var>
<div class="contact-info">
    <h2>Información de contacto de Ediciones Matanzas</h2>
    <div class="info-item">
      <h3>Dirección</h3>
      <p>Santa Teresa, 27 e/ Contreras y Manzano, Matanzas Cuba</p>
    </div>
    <div class="info-item">
      <h3>Teléfonos</h3>
      <p>45288225, 45295207</p>
    </div>
    <div class="info-item">
      <h3>Correo electrónico</h3>
      <p>edicionesmatanzas@atenas.cult.cu</p>
    </div>
    <div class="info-item">
      <h3>Sitio web</h3>
      <a href="https://edicionesmatanzas.wordpress.com/">edicionesmatanzas.wordpress.com</a>
    </div>
    <div class="info-item">
      <h3>Redes sociales</h3>
      <ul>
        <li><a href="https://www.facebook.com/edicionesmatanzas/">Facebook</a></li>
        <li><a href="https://www.instagram.com/edicionesmatanzas/">Instagram</a></li>
        <li><a href="https://x.com/edicionesmtz">Twitter</a></li>
        <li><a href="https://t.me/edicionesmatanzas">Telegram</a></li>
      </ul>
    </div>
    <div class="info-item">
      <h3>Director</h3>
      <p>Alfredo Zaldívar Muñoa</p>
    </div>
    <div class="info-item">
      <h3>Responsable de ISBN</h3>
      <p>Leonel Betancourt Álvarez</p>
    </div>
  </div>